{
  
  "only": ["./src/*.js","./src/server"],

    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "current"
          }
        }
      ]
    ],
    "plugins": [
      "@babel/plugin-transform-modules-commonjs",
      ["babel-plugin-transform-import-meta", { "module": "ES6" }]
    ]  
  } 