.vz-tab-list {
  display: flex;
  background-color: #33415b;
  // When the tab list becomes too large, a horizontal scroll bar appears.
  overflow-x: auto;

  .tab {
    // background: #47546b;
    color: #fff;
    font-family: var(--vzcode-font-family);
    align-items: center;
    display: flex;
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 5px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
    // Make sure text doesn't wrap within tabs.
    white-space: nowrap;

    // TODO unify with styles in code error overlay dismiss button
    .tab-close {
      margin-left: 5px;
      margin-bottom: 2px;
    }
    .tab-close:hover {
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.2);
    }

    // No left margin for first child
    &:first-child {
      margin-left: 0;
    }

    // on hover
    &:hover {
      background-color: #47546b;
    }
  }

  .tab.active {
    background-color: #202e46;
  }

  .tab.transient {
    font-style: italic;
  }
}
