.vz-code-editor {
  flex: 1;
  display: flex;
  font-family: var(--vzcode-font-family);
  overflow-x: auto;

  .cm-editor {
    flex: 1;
  }

  .cm-scroller {
    font-family: var(--vzcode-font-family);
    font-size: var(--vzcode-font-size);
  }

  .remote-cursor-username {
    transition: opacity 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }

  .cm-tooltip-lint {
    max-width: 500px;
  }
}
