.vz-code-editor {
  flex: 1;
  display: flex;
  font-family: var(--vzcode-font-family);
  overflow-x: auto;

  .cm-editor {
    flex: 1;
    cursor: text;
  }

  .cm-scroller {
    font-family: var(--vzcode-font-family);
    font-size: var(--vzcode-font-size);
  }
}
