.vz-code-editor {
  flex: 1;
  display: flex;
  font-family: var(--vzcode-font-family);
  overflow-x: auto;

  .cm-editor {
    flex: 1;
    width: 100%;
  }

  .cm-scroller {
    font-family: var(--vzcode-font-family);
    font-size: var(--vzcode-font-size);
  }

  .remote-cursor-username {
    transition: opacity 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }

  .cm-tooltip-lint {
    max-width: 500px;
  }

  /* Style the completion tooltip container */
  .cm-tooltip.cm-tooltip-autocomplete {
    border: 1px solid #888;
    background-color: #1f2022;
  }

  /* Style the individual completion items */
  .cm-tooltip-autocomplete .cm-completionLabel {
    color: #bdc7dc;
  }

  /* Style the selected completion item */
  .cm-tooltip-autocomplete
    .cm-completionLabel
    .cm-completion-active {
    background-color: #0077cc;
    color: white;
  }

  .cm-line {
    font-family: var(--vzcode-font-family);
  }

  .tooltip_hover_circle {
    color: white;
    text-align: center;
    position: fixed;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1000;
    pointer-events: none;
  }
  
  .tooltip_hover_circle strong {
    font-size: 14px;
  }
  
  .tooltip_hover_circle div {
    font-size: 12px;
  }
  .vz-sidebar {
    /* Ensure the sidebar itself can receive focus */
    outline: none; /* Remove default outline */
    position: relative;
  }
  
  .vz-sidebar:focus-visible {
    outline: 3px solid blue; /* Add visual focus indicator */
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5); /* Optional glow effect */
  }
  
}
