.vz-code-widget {
  position: absolute;
  top: 9px;
  color: var(--vh-color-neutral-04);
}

.vz-code-run-code-widget {
  right: 16px;
}

.vz-code-split-view-widget {
  right: 51px;
}

.vz-code-run-code-widget .rotate-icon {
  animation: spin 1s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
