body {
  font-family: sans-serif;
  background-color: #222; /* Dark background */
  color: #eee;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, main, footer {
  padding: 1rem;
}

header {
  background-color: #663399; /* Purple header */
  color: white;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

footer {
  background-color: #663399; /* Purple footer */
  color: white;
  text-align: center;
  margin-top: auto;
}

.star {
  position: absolute;
  transform: translate(-50%, -50%);
  animation: twinkle 1s infinite;
}

/*Use variables for purple shades*/
:root {
  --dark-purple: #4B0082;
  --light-purple: #BA55D3;
  --medium-purple: #9370DB;
  --plum: #DDA0DD;
}

.star.purple {
  background-color: var(--dark-purple); 
}

.star.darkviolet {
  background-color: var(--dark-purple); 
}

.star.mediumpurple {
  background-color: var(--medium-purple); 
}

.star.plum {
  background-color: var(--plum); 
}


@keyframes twinkle {
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}
