body {
  font-family: sans-serif;
  background-color: #2d2d44; /* Dark purple background */
  color: #eee;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, main, footer {
  padding: 1rem;
}

header {
  background-color: #673ab7; /* Purple header */
  color: white;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

footer {
  background-color: #673ab7; /* Purple footer */
  color: white;
  text-align: center;
  margin-top: auto;
}

.star {
  position: absolute;
  transform: translate(-50%, -50%);
  animation: twinkle 1s infinite;
}

.star.purple {
  background-color: #9b59b6; /* Light purple */
}

.star.dark-purple {
  background-color: #4a235a; /* Dark purple */
}

.star.lavender {
  background-color: #b39ddb; /* Lavender */
}

.star.violet {
  background-color: #ee82ee; /* Violet */
}


@keyframes twinkle {
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}
