.hslide
{
  -webkit-appearance: none;
  appearance: none;
}
.hslide::-webkit-slider-runnable-track
{
  -webkit-appearance: none;
  appearance: none;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    hsl(0, 80%, 75%),
    hsl(30, 80%, 75%),
    hsl(60, 80%, 75%),
    hsl(90, 80%, 75%),
    hsl(120, 80%, 75%),
    hsl(150, 80%, 75%),
    hsl(180, 80%, 75%),
    hsl(210, 80%, 75%),
    hsl(240, 80%, 75%),
    hsl(270, 80%, 75%),
    hsl(300, 80%, 75%),
    hsl(330, 80%, 75%),
    hsl(360, 80%, 75%)
    );
  height: 17px;
}
.hslide::-webkit-slider-thumb 
{
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: white;
}

.cslide
{
    -webkit-appearance: none;
    appearance: none;
    border: none; 
    padding: 0; 
    background: transparent; 
    outline: none; 
}
.cslide::-webkit-slider-runnable-track
{
  -webkit-appearance: none;
  appearance: none;
  background: var(--color, black); 
  border-radius: 8px;
  height: 17px;
  border: none; 
}
.cslide::-webkit-slider-thumb 
{
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: white;
}

.lslide
{
  -webkit-appearance: none;
  appearance: none;
  border: none; 
  padding: 0; 
  background: transparent; 
  outline: none; 
}
.lslide::-webkit-slider-runnable-track
{
  -webkit-appearance: none;
  appearance: none;
  background: var(--gradient, black); 
  border-radius: 8px;
  height: 17px;
  border: none; 
}
.lslide::-webkit-slider-thumb 
{
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: white;
}

