.vz-code-error-overlay {
  color: var(--vh-color-neutral-04);
  background: var(--vh-color-neutral-01);
  opacity: 0.9;
  border-left: 4px solid var(--vh-color-warning-01);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 12px;
  /* Right padding is so that the wrapped text
     doesn't overlap with the .error-dismiss-button */
  padding: 14px 38px 14px 16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  /* Style the monospace font */
  pre {
    font-family: var(--vzcode-font-family);
    font-size: var(--vzcode-font-size);
    margin: 0;

    /* Wrap long lines */
    white-space: pre-wrap;
  }

  /* Customize the dismiss button style */
  .error-dismiss-button {
    position: absolute;
    top: 8px;
    right: 8px;
  }
}
