.prettier-error-overlay {
  color: rgb(255, 53, 53);
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  height: 200px; /* Set an initial height */
  display: none; /* Initially hide the editor */
}
.editor-container {
  position: relative;
}

.editor {
  height: 200px; /* Initial height */
  background-color: #f0f0f0;
  /* Other styles for your editor */
}

#toggle-button {
  cursor: pointer;
  /* Button styles */
}
.hidden {
  display: none;
}

