.prettier-error-overlay {
  color: rgb(255, 35, 35);
  font-family: var(--vzcode-font-family);
  font-size: var(--vzcode-font-size);
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  margin: 0;
  padding: 8px;
}
