.vz-resizer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20px;
  z-index: 100;
}

.vz-resizer:hover {
  cursor: col-resize;
}

.vz-resizer .vz-resizer-thumb {
  position: absolute;
  top: 0;
  bottom: 0;
}

.vz-resizer:hover .vz-resizer-thumb {
  background-color: #0078d4;
}
