/* item.css */

.tooltip-container {
    position: relative;
}

.tooltip {
    position: absolute;
    top: -30px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    pointer-events: none;
}

.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}