.vz-sidebar {
  height: 100%;
  color: #d6d9de;
  background: #1f2022;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .full-box {
    padding: 3px 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .files {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .file-or-directory {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 4px;
    font-family: var(--vzcode-font-family);
    font-weight: 500;
  }

  .sidebar-section-hint {
    // margin-top: 30px;
    margin-left: 10px;
    font-size: 12px;
    color: #99a0ad;
  }

  .new-btn {
    justify-content: right;
    margin-right: 10px;
    cursor: pointer;
  }

  .utils {
    display: flex;
    gap: 8px;
  }
  .utilities {
    transform: scale(1.2);
  }

  .file-or-directory:hover,
  .settings:hover {
    background-color: #47546b;
  }

  .active-file,
  .active-file:hover {
    background-color: #264399;
  }

  .name {
    display: flex;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .indentation {
    margin-left: 20px;
  }

  .arrow-wrapper {
    margin-right: 4px;
  }

  .settings {
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
    margin: 10px;
    border-radius: 4px;
  }

  /* Empty state for when there are no files */
  .empty {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    padding: 20px;
    border: 1px dashed rgba(255, 255, 255, 0.5); /* White dashed outline */
    border-radius: 10px;
  }

  .empty-text {
    margin-bottom: 10px;
    font-size: 14px;
  }
}
