.vz-sidebar {
  .list {
    list-style: none;
  }
  
  .list li {
    outline: none;
    cursor: default;
  }
  
  .list li:nth-child(2n) {
    background: var(--spectrum-alias-highlight-hover);
  }
  
  .list li.pressed {
    background: var(--spectrum-global-color-gray-200);
  }
  
  .list li[aria-selected=true] {
    background: slateblue;
    color: white;
  }
  
  .list li.focus-visible {
    outline: 2px solid slateblue;
    outline-offset: -3px;
  }
  
  .list li.focus-visible[aria-selected=true] {
    outline-color: white;
  }
  
  .list li[aria-disabled] {
    opacity: 0.4;
  }
  
  .list [role=gridcell] {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  .list li button {
    margin-left: auto;
  }
  
  /* iOS Safari has a bug that prevents accent-color: white from working. */
  @supports not (-webkit-touch-callout: none) {
    .list li input[type=checkbox] {
      accent-color: white;
    }
  }

  height: 100%;
  color: var(--vh-color-neutral-04);
  background: var(--vh-color-neutral-01);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .full-box {
    padding: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--vh-color-neutral-02);
  }

  .files {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    outline: none;
  }

  .file-or-directory {
    min-height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin: 0 10px;
    padding: 0 4px 0 8px;
    border-radius: 4px;
    font-family: var(--vzcode-font-family);
    font-weight: 500;
  }

  .sidebar-section-hint {
    margin-left: 10px;
    font-size: 12px;
    font-weight: 500;
    font-family: Poppins;
    color: var(--vh-color-neutral-04);
  }

  .sidebar-section-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    a {
      color: inherit;
    }
  }

  .new-btn {
    justify-content: right;
    margin-right: 10px;
    cursor: pointer;
  }

  .utils {
    display: flex;
    gap: 2px;
  }

  .file-or-directory:hover,
  .settings:hover {
    // background-color: #47546b;
    background-color: rgba(255, 255, 255, 0.075);
  }

  .active-file,
  .active-file:hover {
    background-color: #264399;
  }

  .name {
    display: flex;
    text-overflow: ellipsis;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    gap: 8px;
    .file-icon,
    .arrow-wrapper {
      opacity: 0.5;
    }
  }

  .rename-input {
    width: 100%;
    border: 0px;
    outline: none;
    background: transparent;
    color: var(--vh-color-neutral-04);
    font-family: var(--vzcode-font-family);
    font-size: inherit;
    font-weight: inherit;
    padding: 0px;
    margin: 0px;
  }

  .indentation {
    margin-left: 20px;
  }

  .settings {
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
    margin: 10px;
    border-radius: 4px;
  }

  /* Empty state for when there are no files */
  .empty {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    padding: 20px;
    border: 1px dashed rgba(255, 255, 255, 0.5); /* White dashed outline */
    border-radius: 10px;

    /*
     * This fixes some issues where the drop zone for files
     * was flickering when dragging files over the sidebar.
     */
    pointer-events: none;

    .empty-text {
      font-size: 16px;
      font-weight: 500;
    }
  }

  .connection-status {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 12px;

    .connection-status-indicator {
      width: 16px;
      height: 16px;
      border-radius: 50%;

      &.connected {
        background-color: var(--vh-color-success-01);
      }

      &.disconnected {
        background-color: var(--vh-color-warning-01);
      }
    }
  }
}
