.vz-sidebar {
  height: 100%;
  width: 200px;
  background: rgb(54, 65, 89);
  overflow: auto;

  .full-box {
    padding: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .file-or-directory {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin: 0 10px;
    color: rgb(219, 221, 225);
    border-radius: 5px;
  }

  .link-name {
    margin-top: 30px;
    margin-left: 10px;
    color: rgb(154, 160, 172);
    font-size: 12px;
    text-decoration: none;
  }

  .new-btn {
    justify-content: right;
    margin-right: 10px;
    cursor: pointer;
  }

  .utils {
    display: flex;
  }
  .utilities {
    margin-right: 3px;
  }

  .settings {
    height: 30px;
    color: rgb(219, 221, 225);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
    margin: 10px;
    border-radius: 5px;
  }

  .file-or-directory:hover,
  .settings:hover {
    background-color: rgb(74, 84, 105);
  }

  .name {
    display: flex;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .indentation {
    margin-left: 20px;
  }

  .arrow-wrapper {
    margin-right: 4px;
  }
}
