.vz-sidebar {
  /* TODO remove position: fixed, overhaul CSS to use Flexbox for entire app */

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background: rgb(54, 65, 89);
}

.vz-sidebar .full-box {
  padding: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.vz-sidebar .file-or-directory {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin: 0 10px;
  color: rgb(219, 221, 225);
  border-radius: 5px;
}

.vz-sidebar .link-name {
  margin-top: 30px;
  margin-left: 10px;
  color: rgb(154, 160, 172);
  font-size: 12px;
  text-decoration: none;
}

.vz-sidebar .new-btn {
  justify-content: right;
  margin-right: 10px;
  cursor: pointer;
}

.vz-sidebar .utils {
  display: flex;
}

.vz-sidebar .utilities {
  margin-right: 3px;
}

.vz-sidebar .settings {
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 180px;
  z-index: 100;
  color: rgb(219, 221, 225);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 0;
  margin: 10px;
  border-radius: 5px;
}

.vz-sidebar .file-or-directory:hover,
.vz-sidebar .settings:hover {
  background-color: rgb(74, 84, 105);
}

.vz-sidebar .name {
  display: flex;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Responsible for indenting directories */
.vz-sidebar .indentation {
  margin-left: 20px;
}

.vz-sidebar .arrow-wrapper {
  margin-right: 4px;
}
