/* Inspired by: https://www.codinglabweb.com/2021/06/dropdown-sidebar-menu-html-css.html */
/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
}

body {
  background: rgb(41, 44, 52);
  font-family: 'Poppins', sans-serif;
}

.tab {
  width: max-content;
  height: 30px;
  background: rgb(45, 45, 45);
  text-align: center;
  color: #fff;
  font-family: var(--main-font-family);
  justify-content: center;
  align-items: center;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
}

.tab.active {
  background-color: rgb(41, 44, 52);
}

.tab-close {
  display: flex;
  cursor: pointer;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
}

.tab-close:hover {
  border-radius: 30%;
  background-color: rgb(37, 37, 38);
}

.editor {
  position: fixed;
  margin-left: 200px;
  width: 100%;
  height: 100%;
  top: 30px;
  bottom: 0;
  background-color: rgb(41, 44, 52);
  color: #fff;
  font-family: var(--main-font-family);
}

.tab-list {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 200px;
  height: 35px;
  width: 100%;
  background: rgb(37, 37, 38);
  z-index: 100;
  transition: all 0.5s ease;
}

.bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 100%;
  background: rgb(45, 45, 45);
  z-index: 100;
  transition: all 0.5s ease;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background: rgb(54, 65, 89);
  z-index: 100;
  transition: all 0.5s ease;
}

.link-name {
  margin-top: 30px;
  margin-left: 17px;
  color: rgb(154, 160, 172);
  font-size: 10px;
  text-decoration: none;
}

.file {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 180px;
  cursor: pointer;
  margin-left: 10px;
  color: rgb(219, 221, 225);
}

.full-Box {
  width: inherit;
  height: inherit;
  padding: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.file :hover {
  background-color: rgb(74, 84, 105);
  border-radius: 5px;
}

.utilities {
  justify-content: right;
  margin-right: 3px;
}

.noUtils {
  display: none;
}

.settings {
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
  z-index: 100;
  color: rgb(219, 221, 225);
  margin-left: 30px;
  margin-bottom: 5px;
}

.title_New_Files {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.newBTN {
  margin-left: 50px;
  margin-right: 10px;
}