:root {
  --vzcode-font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(41, 44, 52);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(37, 37, 38);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
body,
#root,
.app {
  height: 100%;
}
.app {
  /* TODO use a variable for this */
  background-color: rgb(41, 44, 52);

  font-family: 'Poppins', sans-serif;
  display: flex;

  .left {
    display: flex;
  }
  .right {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
  }
}
