:root {
  --vzcode-font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
}

html,
body,
#root,
.app {
  height: 100%;
}
.app {
  // background-color: rgb(41, 44, 52);

  font-family: 'Poppins', sans-serif;
  display: flex;

  .left {
    display: flex;
  }
  .right {
    display: flex;
    flex: 1;
    flex-direction: column;

    .tab-list {
      display: flex;
      background-color: rgb(37, 37, 38);

      .tab {
        background: rgb(45, 45, 45);
        color: #fff;
        font-family: var(--vzcode-font-family);
        align-items: center;
        display: flex;
        padding-top: 2px;
        padding-left: 10px;
        padding-right: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-top: 5px;
        margin-left: 2px;
        margin-right: 2px;
        cursor: pointer;

        .tab-close {
          margin-left: 5px;
        }
        .tab-close:hover {
          border-radius: 30%;
          background-color: rgb(37, 37, 38);
        }
      }
      .tab.active {
        background-color: rgb(41, 44, 52);
      }
    }
  }
}

.editor {
  flex: 1;
  background-color: rgb(41, 44, 52);
  font-family: var(--vzcode-font-family);
  overflow: auto;
}

.bottom-bar {
  bottom: 0;
  left: 0;
  height: 20px;
  background: rgb(45, 45, 45);
  z-index: 100;
  transition: all 0.5s ease;
}

.themes {
  color: rgb(37, 37, 38);
}
