:root {
  --vzcode-font-family: ui-monospace, SFMono-Regular,
    SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  --vz-bg-color: rgb(
    41,
    44,
    52
  ); /* Variable for the background color */
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--app-bg-color);
}

::-webkit-scrollbar-thumb {
  background: rgb(37, 37, 38);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Layout Styles */
html,
body,
#root,
.app {
  height: 100%;
}

.app {
  background-color: var(--vz-bg-color);
  font-family: 'Poppins', sans-serif;
  display: flex;

  .left,
  .right {
    display: flex;
  }

  .right {
    flex: 1;
    flex-direction: column;
    min-width: 0;
    /* To support Resizer, which is position: absolute */
    position: relative;
  }
}
