/* Inspired by: https://www.codinglabweb.com/2021/06/dropdown-sidebar-menu-html-css.html */
/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css');
@import url('https://unpkg.com/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(41, 44, 52);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(37, 37, 38);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --main-font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
}

body {
  background: rgb(41, 44, 52);
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.tab {
  width: max-content;
  height: 30px;
  background: rgb(45, 45, 45);
  text-align: center;
  color: #fff;
  font-family: var(--main-font-family);
  justify-content: center;
  align-items: center;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
}

.tab.active {
  background-color: rgb(41, 44, 52);
}

.tab-close {
  display: flex;
  cursor: pointer;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
}

.tab-close:hover {
  border-radius: 30%;
  background-color: rgb(37, 37, 38);
}

.editor {
  position: relative;
  margin-left: 200px;
  width: 100%;
  height: 100%;
  top: 30px;
  bottom: 0;
  background-color: rgb(41, 44, 52);
  color: #fff;
  font-family: var(--main-font-family);
}

.tab-list {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 200px;
  height: 35px;
  width: 100%;
  background: rgb(37, 37, 38);
  z-index: 100;
  transition: all 0.5s ease;
}

.bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 100%;
  background: rgb(45, 45, 45);
  z-index: 100;
  transition: all 0.5s ease;
}

.themes {
  color: rgb(37, 37, 38);
}
