:root {
  // --vzcode-font-family: ui-monospace, SFMono-Regular,
  //   'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace !important;

  --vzcode-font-family: 'Inconsolata', monospace !important;
  --vzcode-font-size: 16px;

  /* Variable for the background color */
  --vz-bg-color: rgb(
    41,
    44,
    52
  ); /* Variable for the background color */
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--app-bg-color);
}

::-webkit-scrollbar-thumb {
  background: rgb(37, 37, 38);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Layout Styles */
html,
body,
#root,
.app {
  height: 100%;
}

.app {
  background-color: var(--vz-bg-color);
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
  //   'Noto Sans', Helvetica, Arial, sans-serif,
  //   'Apple Color Emoji', 'Segoe UI Emoji';
  display: flex;

  /* To support Resizer, which is position: absolute */
  position: relative;

  .left,
  .middle {
    display: flex;

    /* To suport PrettierErrorOverlay, which is position: absolute */
    position: relative;
  }

  .middle {
    // flex: 1;
    flex-direction: column;
    min-width: 0;
  }

  .right {
    flex: 1;
    background-color: white;

    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}
