.vz-notification {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;
  bottom: 20px;
  right: 20px;

  color: rgb(154, 160, 172);
  padding: 15px;

  .vz-notification-item {
    background-color: rgb(54, 65, 89);
    padding: 5px;
    border-radius: 5px;
  }
}
